

.schedule-table{
  width:800px;
}



.actions{
  display: inline-flex;
  // justify-content: space-between;


}

.mat-reset{
  background-color: #185a8e;
  color: white;
}

.actions > button{
  margin-left: 20px;
}
